@include normalizePlusReset();
@include pageEmEquivalent(10);
@include defineIconFont("attire", $assetDistPath + "fonts/attireIcons", 'v1.0', $icons);
@include keyframes(fadeIn) {
    from { opacity: 0; }
    to { opacity: 1; }
}

html,
body {

    min-height: 100%; background: #fff;

}

body {

    @include fontSansNormal;
    font-size: 1em; min-width: 32em; position: relative;
    color: $colorGrayDark1;

    @include mediaMaxWidth($breakpointMedium) {

        &.navOpened { overflow: hidden; }

    }

    @include mediaMinWidth($breakpointMedium) {

        padding: 0 0 0 em($docsSidebarWidth,10);

    }

}

.attireArticle {

    @include animation(fadeIn 0.2s);

}

a {

    color: $colorMain1;

}