@include normalizePlusReset();
@include pageEmEquivalent(10);
@include defineIconFont("attire", $assetDistPath + "fonts/attireIcons", 'v1.0', $icons);

html,
body {

    min-height: 100%; background: #fff;

}

body {

    padding-top: 10em;

    @include mediaMinWidth($breakpointMedium) {

        padding: 0 0 0 em($docsSidebarWidth,10);

    }

}

a {

    color: $colorMain1;

}

body {

    @include fontSansNormal;
    font-size: 1em; min-width: 32em; position: relative;
    color: $colorGrayDark1;

}