@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	src: url('https://gitcdn.xyz/repo/dbrekalo/attire/master/dist/fonts/lato-300-normal.eot');
	src: url('https://gitcdn.xyz/repo/dbrekalo/attire/master/dist/fonts/lato-300-normal.eot#iefix') format('embedded-opentype'), url('https://gitcdn.xyz/repo/dbrekalo/attire/master/dist/fonts/lato-300-normal.woff') format('woff'), url('https://gitcdn.xyz/repo/dbrekalo/attire/master/dist/fonts/lato-300-normal.ttf') format('truetype'), url('https://gitcdn.xyz/repo/dbrekalo/attire/master/dist/fonts/lato-300-normal.svg#Lato') format('svg');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: url('https://gitcdn.xyz/repo/dbrekalo/attire/master/dist/fonts/lato-400-normal.eot');
	src: url('https://gitcdn.xyz/repo/dbrekalo/attire/master/dist/fonts/lato-400-normal.eot#iefix') format('embedded-opentype'), url('https://gitcdn.xyz/repo/dbrekalo/attire/master/dist/fonts/lato-400-normal.woff') format('woff'), url('https://gitcdn.xyz/repo/dbrekalo/attire/master/dist/fonts/lato-400-normal.ttf') format('truetype'), url('https://gitcdn.xyz/repo/dbrekalo/attire/master/dist/fonts/lato-400-normal.svg#Lato') format('svg');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: url('https://gitcdn.xyz/repo/dbrekalo/attire/master/dist/fonts/lato-700-normal.eot');
	src: url('https://gitcdn.xyz/repo/dbrekalo/attire/master/dist/fonts/lato-700-normal.eot#iefix') format('embedded-opentype'), url('https://gitcdn.xyz/repo/dbrekalo/attire/master/dist/fonts/lato-700-normal.woff') format('woff'), url('https://gitcdn.xyz/repo/dbrekalo/attire/master/dist/fonts/lato-700-normal.ttf') format('truetype'), url('https://gitcdn.xyz/repo/dbrekalo/attire/master/dist/fonts/lato-700-normal.svg#Lato') format('svg');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 900;
	src: url('https://gitcdn.xyz/repo/dbrekalo/attire/master/dist/fonts/lato-900-normal.eot');
	src: url('https://gitcdn.xyz/repo/dbrekalo/attire/master/dist/fonts/lato-900-normal.eot#iefix') format('embedded-opentype'), url('https://gitcdn.xyz/repo/dbrekalo/attire/master/dist/fonts/lato-900-normal.woff') format('woff'), url('https://gitcdn.xyz/repo/dbrekalo/attire/master/dist/fonts/lato-900-normal.ttf') format('truetype'), url('https://gitcdn.xyz/repo/dbrekalo/attire/master/dist/fonts/lato-900-normal.svg#Lato') format('svg');
}
