.attireBlock {

	background-color: #fff; position: relative; border-top: 1px solid $colorGrayLight1;

	> .inner {

		padding: 2em;

	}

	&.mod1 {

		background-color: #FBFBFB;

	}

	@include mediaMinWidth($breakpointMedium) {

		> .inner {

			max-width: 70em; padding: 6em 2.5em; margin: 0 auto;

		}

	}

}

.attireSeparator {

	margin: 2.5em 0; position: relative;
	border: 0; border-top: 1px solid $colorGrayLight1;

	&.mod1 {

		margin: 3.5em 0; width: 10em;

	}

	&.mod2 {

		margin: 6em 0; width: 10em;

		border-top: 5px solid $colorGrayDark2;

	}

}

.githubRibbon {

	position: absolute; right: 0; top: 0; width: 10em; z-index: 20;

	> img {

		display: block; width: 100%;

	}

	@include mediaMinWidth($breakpointMedium) {

		width: 14.9em;

	}

}