.attireCodeHighlight {

	&[class*="language-"] {
		margin: 2em 0
	}

	> code {

		font-size: 1.4em;

	}

}

.attireCodeToggleBlock {

	.attireCodeHighlight {

		display: none;

	}

	&.isActive .attireCodeHighlight {

		display: block;

	}

}

.attireCodeToggleBtn {

	@include normalizeButton;
	padding: 0 1.2em 0 0; color: $colorMain1;
	&:before { left: auto; right: 0; text-align: right; }

}